* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    width: auto;
    height: 100vh;
    background-color: lightskyblue;
    margin: 2%;
    border: 1px solid black;
}

.nav-container {
    width: auto;
    height: 15%;
    background-color: black;
    color: white;
    padding: 2% 0;
    border: 0 0 1px 0 solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-container {
    width: auto;
    height: 85%;
    display: flex;
    justify-content: space-between;
    border: 0 0 1px 0 solid black;
}
.body-container .body-side-left{
    width: 25%;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-container .body-side-right{
    width: 25%;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.body-container .body-main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}